[user]
	name = MEP Project
	email = mep-project@example.com
	signingkey = 3B1DAEF5FB95E13D

[commit]
	gpgsign = true

[core]
	sshCommand = "ssh -i ~/.ssh/id_ed25519_mep"

[gpg]
	program = gpg

[tag]
	forceSignAnnotated = true