Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_mep
  IdentitiesOnly yes

Host github-deploy
  HostName github.com
  User git
  IdentityFile ~/.ssh/deploy_key
  IdentitiesOnly yes